/*---
---*/

// Variables
@import "utilities/variables";

// Utility styles
@import "utilities/mixins";
@import "utilities/utils";
@import "utilities/syntax-highlighting";
@import "utilities/animations";

// Core
@import "base/normalize";
@import "base/global";
@import "base/layout";
@import "base/typography";

// Components
@import "components/navigation";
@import "components/pagination";
@import "components/code";
@import "components/message";

// Pages
@import "pages/landing";
@import "pages/posts";

.featuredImage {
    width: 100%;
}

.social-icon {
    margin: 25px;
    display: inline;
}

.social-icon i {
    font-size: 25px;
}

.social-icon-list {
    list-style-type: none;
    padding: 0 !important;
}

/*regular weight*/
@font-face {
    font-family: 'Playfair Display';
    src: '/c/Users/alaro/charadh.github.io/fonts/PlayfairDisplay-Regular.tff';
}

/*bold weight*/
@font-face {
    font-family: 'Playfair Display';
    src: '/c/Users/alaro/charadh.github.io/fonts/PlayfairDisplay-Bold.tff';
    font-weight: bold;
}

/*italicweight*/
@font-face {
    font-family: 'Playfair Display';
    src: '/c/Users/alaro/charadh.github.io/fonts/PlayfairDisplay-Italic.tff';
    font-weight: italic;
}

/*regular weight*/
@font-face {
    font-family: 'Poppins';
    src: '/c/Users/alaro/charadh.github.io/fonts/Poppins-Regular.tff'
}

/*italic weight*/
@font-face {
    font-family: 'Poppins';
    src: '/c/Users/alaro/charadh.github.io/fonts/Poppins-Italic.tff';
    font-weight: italic;
}

/*bold weight*/
@font-face {
    font-family: 'Poppins';
    src: '/c/Users/alaro/charadh.github.io/fonts/Poppins-Bold.tff';
    font-weight: bold;
}