/**
 * _landing.scss
 * Styles for the landing page
 */

.landing-title {
    color: $post-title-color;
    text-align: center;
    font-style: bold;
    padding-bottom: 0.7rem;
}

.text-center {
    color:$post-title-color;
    text-align: center;
    font-style: italic;
    padding-bottom: .7rem;  
}
