/**
  * _variables.scss
  * Contains SCSS variables used in this website's stylesheet.
  */

// Globals
$font-stack: 'Playfair Display', serif;
$font-size: 17px;
$font-size-mobile: 15px;

$code-font-stack: 'Poppins', monospace;

// Body
$body-text-color: #222222;
$body-background-color: #ffffff;
$body-top-border-color: #E39426;
$body-top-border-width: 5px;

// Links
$link-color: #E39426;

// Navigation
$nav-bottom-border-color: #E39426;
$nav-bottom-border-width: 1px;

$nav-link-color: #E39426;
$nav-link-padding-y: 0.7rem;
$nav-link-padding-x: 1.5rem;
$nav-link-underline-color: #E39426;

$nav-icon-color: #ffffff;
$nav-icon-background-color: #E39426;

// Blog post headings and page titles
$post-title-color: #452358;
$post-date-color: #222222;

// Message box
$message-color: #f9f9f9;
$message-background-color: #452358;
